@charset "UTF-8";
/* CSS Document */

html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
}


/* header関連ここから */
header {
	height: 48px;
	background-color: #666666;
	display: block;
}

.header-wrap {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}


/* main関連ここから */
main {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

.main-wrap {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.space1 {height: 100px;}

.shindantitle_block {
	text-align: center;
}

.space2 {height: 20px;}

/* shindanform */
.shindanform_block {
	margin-left: 15px;
	margin-right: 15px;
	border: 8px #4c6b05 solid;
	border-radius: 12px;
	padding: 15px 0;
	text-align: center;
}

.shindanform_label {
	height: 2em;
}

.input {
	width: 160px;
	height: 46px;
	border: 6px #8cc63f solid;
	border-radius: 5px;
	text-align: center;
	font: inherit;
}

.button {
	-webkit-appearance:none;
	display: inline block;
	width: 90px;
	height: 44px;
	background-color: #4c6b05;
	border: 1px solid #4c6b05;
	border-radius: 6px;
	font: inherit;
	font-weight: bold;
	color: #FFFFFF;
	padding: 10 16;
	cursor: pointer;
}

.space3 {height: 30px;}

/* shindanresult */

.shindanresult_block {
	margin-left: 15px;
	margin-right: 15px;
	display: none;
}

.shindanresult_title {
	border-radius: 10px 10px 0 0;
	border: #8cc63f 1px solid;
	padding: 6px 0 4px;
	background-color: #8cc63f;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.4em;
	font-weight: 700;
}

.shindanresult_main {
	border-radius: 0 0 10px 10px;
	border: #8cc63f 8px solid;
	min-height: 6em;
	padding: 15px;
	text-align: left;
}

.space4 {height: 30px;}

/* tweetform */

.tweetform_block {
	display: none;
}

.tweetform_title {
	background-color: #EDEDED;
	text-align: center;
	font-family: inherit;
	font-size: 1.2em;
	font-weight: 700;
	padding: 13px 15px 10px;
}

.tweetform {
	text-align: center;
	padding: 10px;
}

.share_twitter {
	width: 120px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	background-color: #1b95e0;
	border-color: #1b95e0;
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

/* forcopy */

.forcopy_block {
	margin-left: 15px;
	margin-right: 15px;
	display: block;
}

.forcopy_tab {
	width: 60px;
	height: 40px;
	border: 1px solid #ddd;
	border-bottom: transparent;
	border-radius: 4px 4px 0 0;
	padding: 10px 3px;
	text-align: center;
	font-size: 9pt;
	font-weight: 400;
}

.forcopy_panel {
	border-top: 1px solid #ddd;
}

.forcopy {
	
}

.forcopy_textarea {
	display: block;
	width: 100%;
	height: 100px;
	border: 1px solid #ddd;
	padding: 10px;
	text-align: left;
	color: #000000;
}

.space5 {
	min-height: 100px;
}


/* footer関連ここから */
footer {
	min-height: 100px;
	background-color: #666666;
	display: block;
	bottom: -100px;
}

.footer-wrap {
	text-align: center;
}


/*　レスポンシブデザイン対応 */
@media (min-width: 768px) {
	body{
		background-color: #DFDFDF;
	}
	
	.main-wrap {
		max-width: 790px;
		min-width: 790px;
		margin-left: auto;
		margin-right: auto;
		min-height: 100%;
		background-color: #FFFFFF;
	}
	
	body > div.main-wrap {
		height: auto;
	}
	
}
